ament_index_python==1.8.1
boat_slam==0.0.1
cv_bridge==4.1.0
data_utils==0.0.7
dvl_msgs==0.0.0
geometry_msgs==5.3.6
gtsam_develop==4.3a0.dev202504232248
launch_ros==0.26.7
matplotlib==3.6.3
message_filters==4.11.5
nav_msgs==5.3.6
numpy==2.4.2
opencv_python==4.11.0.86
opencv_python_headless==4.10.0.84
pcl==0.0.0.post1
rclpy==7.1.4
scikit_learn==1.4.1.post1
scipy==1.17.1
sensor_msgs==5.3.6
sensor_msgs_py==5.3.6
setuptools==68.1.2
Shapely==2.1.2
sonar_oculus==0.0.1
starfish_ros==0.0.1
std_msgs==5.3.6
supervision==0.27.0.post1
tf2_ros_py==0.36.9
tqdm==4.67.1
ultralytics==8.3.166
visualization_msgs==5.3.6
